.input-feedback {
   color: #999;
   margin-top: .25rem;
}

.error .input-feedback {
   color: red;
}

.error .text-input {
   border-color: red;
}

.error .label {
   color: red;
}

.animated {
   animation-duration: .3s;
   animation-fill-mode: both;
}