.user-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
}

.input-group {
   margin: 2% auto;
   width: 50vw;
   min-width: 220px;
}

.input-group.error .select-dropdown div:first-child {
   border-color: red;
}

.btn-container {
   margin: 1% auto;
   width: 50vw;
   display: flex;
}

.btn-container button {
   margin-left: auto;
   padding: 8px 16px;
   border: none;
   text-transform: uppercase;
   letter-spacing: .09em;
   border-radius: 2px;
}

@media (max-width: 768px) {
   .input-group, .btn-container {
      width: 80vw;
   }
}