.container {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   overflow: auto;
}
.App {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   max-width: 60vw;
   margin: 5% auto;
}

h2 {
   font-size: 1.7rem;
    justify-content: center;
    font-weight: 700;
    text-align: center;
    color:#2594cd;
}